.jumbotron {
    text-align: center;
}

body {
    font-family: 'Cinzel', serif;
    background-color: lightslategray;
}
.card-title {
    text-align: center;
}
#submit-input {
    margin-left: 15%;
}
#your-photo {
    margin-top: 10px;
}

#your-pic {
    width: 400px;
    height: 300px;
    padding: 10px;
    text-align: center;
}

#your-meme {
    width: 400px;
    height: 400px;
    text-align: center;
}
<<<<<<< HEAD
.card {
    margin-bottom: 20px;
}

footer {
    background: white;
    margin: 0;
    padding: 0;
=======

#recentmemes {
    padding: 10px;
    margin-top: 20px;
    text-align: center;
>>>>>>> 74fcfca0833767a938e0df72f69ad2e9e430c528
}