.jumbotron {
    text-align: center;
}

body {
    font-family: 'Cinzel', serif;
    background-color: lightslategray;
}
.card-title {
    text-align: center;
}
#submit-input {
    margin-left: 15%;
}
#your-photo {
    margin-top: 10px;
}

#your-pic {
    width: 400px;
    height: 300px;
    padding: 10px;
    text-align: center;
}

#your-meme {
    width: 400px;
    height: 400px;
    text-align: center;
}
.card {
    margin-bottom: 20px;
}

footer {
    background: white;
    margin: 0;
    padding: 0;
}

#recentmemes { 
    text-align: center;
}

#recentmeme1,
#recentmeme2,
#recentmeme3,
#recentmeme4,
#recentmeme5 {
    width: 150px;
    height: 150px;
    margin: 10px;
}